<% provide(:title, "Help") %>

<div class="row">
   
    <div class="col-md-6">
      <div class="help">
      <h4>What is a Grocery Optimizer?</h4>
      <p>A simple tool to help you get your shopping done pronto so you can spend more time doing whatever you enjoy.  If you really enjoy taking a long time grocery shopping, this probably isn't for you.</p>
    </div>
	</div>
      <div class="col-md-6">
      <div class="help">
      <h4>How do I create a list?</h4>
      <p>In between grocery trips, keep adding items to "The List".  You can either add items from "The List" or from "All Items" which keeps all of the items from every trip.  </p>
    

  </div>
  </div>
  </div>
<div class="row">
      <div class="col-md-6">
      <div class="help">
      <h4>How do I optimize my shopping?</h4>
      <p>Using the location, go from either left to right or right to left in the store, and indicate where, in general, the item is by using 1 for the very right side of the store and 5 for the total opposite of the store.</p>
    
    </div>
  </div>
        <div class="col-md-6"> 
      <div class="help">
      <h4>How long is this info stored?</h4>
      <p>The list is stored in your browser, but don't worry, deleting cookies won't get rid of it.  The benefit of this vs. storing it on the interwebs is even in the back of the grocery store where you might not get a cell signal, you can keep using your list to tick off what you've bought.</p>
    
    </div>
  </div>


</div>
<div class="row">
      <div class="col-md-6"> 
      <div class="help">
      <h4>How can I print the list?</h4>
      <p>We're working on easier tools, but for now, just use your browser's print function (File > Print).</p>
    
    </div>
  </div>
  <div class="col-md-6">
      <div class="help">
      <h4>I have an awesome idea!</h4>
      <p>Awesome, hit us up at djlbapps@gmail.com</p>
    
    </div>
  </div>
  </div>



