


<ul class="weekslist">
    <li>
    <div class="row">
	  <div class="col-md-3 col-xs-6"><%= store.store %></div>

       <div class="col-md-2 col-xs-6">   
  

              <%= button_to  store, method: :delete,  type: "button", class: "btn btn-danger btn-responsive" do %>
            <i class="glyphicon glyphicon-remove-circle"></i>
        <% end %> </div>
   
    </div>
    </li>
</ul>

