


<ul class="bulkadds">
    <li>
    <div class="row">
      <div class="col-md-3 col-xs-2"><%= allitem.thing %></div>
	    <div class="col-md-2 col-xs-2"><%= allitem.store %></div>
      
      <div class="col-md-1 col-xs-1"><div class="center-text"><%= allitem.amount %></div></div>
      <div class="col-md-1 col-xs-1"><div class="center-text"><%= allitem.zone %></div></div>
      
    </div>
     
    </li>
  
</ul>



