
<div class="row">

    <div class="col-md-8">
    <% if @user.weekslists.any? %>

      <h3>Weeks List (<%= @user.weekslists.count %>)</h3>

        <%= render @weekslists %>
      </ol>
      
    <% end %>
  </div>
</div>