@import "bootstrap-sprockets";
@import "bootstrap";

#editweekslist { display:none; }



.logo {
  margin: -5px 0 -80px 0;
  width: 40%;
  float: left;
  margin-right: 0px;

  
  padding-top: 0px;
}

#topnav {
  margin-top: 10px;
}

#clearList {
  margin-top: 80px;
  margin-left: -10px;

}
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
  padding-top: 60px;
  font-family:  'Helvetica Neue', sans-serif;
  background-color: #FAF9F7;
  color: #444;
}



section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6, label {
font-family:  'Helvetica Neue', sans-serif;
  line-height: 1;
}

h5 {
    color: #75A2F0;
    text-decoration: underline;
    font-weight: normal;

}

label {
  font-size: 1.1em;
}
/* desktop */

@media (min-width: 768px) { 

  .logo {
  margin: -15px 0px -80px -20px;
  width: 40%;
  float: left;
  margin-right: 0px;

  
  padding-top: 0px;
}

.weekslist {

  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    font-size: 1.1em;
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 2;
    
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}
h1 {
  
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-family:  'Helvetica Neue', sans-serif;
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h3 {
  font-family:  'Helvetica Neue', sans-serif;
  font-size: 2em;
  
  margin-left: 10px;
  margin-bottom: 0px;
  
  font-weight: bold;
  
}

h4 {
    
    font-family:  'Helvetica Neue', sans-serif;
    font-size: 1.3em;
    padding: 0px 0 0 0;
}

h5 {
  font-family:  'Helvetica Neue', sans-serif;
  font-size: 1em;
  
  margin-left: -100px;
  margin-top: 35px;
  
  font-weight: normal;
  
}

#logo {
font-family:  'Helvetica Neue', sans-serif;
  float: left;
  margin-right: 0px;
  font-size: 2.5em;
  
  text-transform: uppercase;
  
  padding-top: 0px;
  
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* help */

.help {
    background-color: white;
    padding:  10px 20px 10px 20px;
    border-width: 1px;
    margin: 10px 0px 10px 0px;
    border-color: #cccccc;
    border-style: solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}

  .btn-responsive {
    padding:2px 80px;
    margin-left: -35px;
    font-size:100%;
    line-height: 2;
        border-color: #cccccc;
    border-style: solid;
  }

  .hideshowweekslist {
  font-family:  'Helvetica Neue', sans-serif;
  font-size: 1em;
  
  margin-left: -5px;
  margin-top: 25px;
  margin-bottom: 0px;
  text-align: left;
  font-weight: normal;
  
}

.hideshowweekslist { display:none; }

}
/* small tablet */

@media (min-width: 768px) and (max-width: 992px) { 

.logo {
  margin: -5px 0 -80px 0;
  width: 50%;
  float: left;
  margin-right: 0px;

  
  padding-top: 0px;
}
.btn-responsive {
    padding:2px 25px;
    margin-left: 0px;
    font-size:100%;
    line-height: 2;
        border-color: #cccccc;
    border-style: solid;
  }

  }
/* tablet */

@media (min-width: 992px) and (max-width: 1200px) { 

.logo {
  margin: -15px 0 -80px -20px;
  width: 50%;
  float: left;
  margin-right: 0px;

  
  padding-top: 0px;
}
.weekslist {

  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    font-size: 1.1em;
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 2;
    
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}
h1 {
  
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-family:  'Helvetica Neue', sans-serif;
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h3 {
  font-family:  'Helvetica Neue', sans-serif;
  font-size: 2em;
  
  margin-left: 10px;
  margin-bottom: 0px;
  
  font-weight: bold;
  
}

h4 {
    
    font-family:  'Helvetica Neue', sans-serif;
    font-size: 1.3em;
    padding: 0px 0 0 0;
}

h5 {
  font-family:  'Helvetica Neue', sans-serif;
  font-size: 1em;
  
  margin-left: -100px;
  margin-top: 35px;
  
  font-weight: normal;
  
}

/*#logo {
font-family:  'Helvetica Neue', sans-serif;
  float: left;
  margin-right: 0px;
  font-size: 2.5em;
  
  text-transform: uppercase;
  
  padding-top: 0px;
  
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}*/

/* help */

.help {
    background-color: white;
    padding:  10px 20px 10px 20px;
    border-width: 1px;
    margin: 10px 0px 10px 0px;
    border-color: #cccccc;
    border-style: solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}

  .btn-responsive {
    padding:2px 60px;
    margin-left: -10px;
    font-size:100%;
    line-height: 2;
        border-color: #cccccc;
    border-style: solid;
  }

  .hideshowweekslist {
  font-family:  'Helvetica Neue', sans-serif;
  font-size: 1em;
  
  margin-left: -5px;
  margin-top: 25px;
  margin-bottom: 0px;
  text-align: left;
  font-weight: normal;
  
}

.hideshowweekslist { display:none; }

}

/* mobile */

@media (max-width: 768px) { 

#content { display: none; }

.logo {
  margin: -5px 0 -20px 0;
  width: 100%;
  float: left;
  margin-right: 0px;

  
  padding-top: 0px;
}

#topnav {
  font-size: .7em;
}
.weekslist {

  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    
    font-family: 'Helvetica Neue', sans-serif;
    font-size: .7em
    
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

h1 {
  
  font-size: 2.5em;
  letter-spacing: -2px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-family:  'Helvetica Neue', sans-serif;
  font-size: 1.1em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h3 {
  font-family:  'Helvetica Neue', sans-serif;
  font-size: 1.4em;
  margin-left: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  
}

h4 {
    
    font-family:  'Helvetica Neue', sans-serif;
    font-size: .7em;
    padding: 0px 0 0 0;
}

.hideshowweekslist {
  font-family:  'Helvetica Neue', sans-serif;
  
  
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: left;
  
  
}

body { 
    padding-top: 60px; 
}

#logo {
font-family:  'Helvetica Neue', 'Helvetica Neue', sans-serif;
  float: left;
  margin-right: 0px;
  margin-left: 10px;
  font-size: 2em;
  
  text-transform: uppercase;
  
  padding-top: 0px;
  
}

/* help */

.help {
    background-color: white;
    padding:  5px 5px 5px 5px;
    border-width: 1px;
    margin: 5px -10px 5px -10px;
    border-color: #cccccc;
    border-style: solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}

  .btn-responsive {
    padding:2px 15px;
    margin: 0px 0px 0px 0px;
    font-size:100%;
    line-height: 2;
  }
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.center-text {
  text-align: center;
}

/* header */





/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 10px;
  }
  section {
    padding: 10px 0;
    margin-top: 10px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */



aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* table */

.table-border {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px;
    background-color: white;
     border-width: 1px;
    border-color: #cccccc;
    border-style: solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
table {
    
    width: 100%;
    margin:0 auto;
    clear:both;
    border-collapse:separate;
    border-spacing:0;


}

thead {
    text-align: left;
    background-color: #75A2F0;
    color: #202124;
    padding:10px 18px;
    border-bottom:1px solid #111;
    vertical-align: center;
    text-align: center;
}
td {
    padding:10px 18px;
    vertical-align: center;
    text-align: center;


}

